<section class="conteiner">
    <p class="nombre">{{compania.nombre}}</p>
    <p class="direccion">{{compania.direccion}}</p>
    <p class="email">{{compania.email}}</p>
    <p class="telefono">{{compania.telefono}}</p>
    <p class="ciudad">{{compania.ciudad}}</p>
    <button class="btn btn-primary" (click)="preEditar()">Edit</button>
    <button class="btn btn-primary" (click)="borrar()">Borrar</button>
</section>

<section *ngIf="editable" class="editar">
    <input class="nombre" placeholder="Nombre" [(ngModel)]="compania.nombre"> <!-- {{compania.nombre}}-->
    <input class="direccion" placeholder="Direccion" [(ngModel)]="compania.direccion"><!-- {{compania.direccion}}-->
    <input class="email" placeholder="Email" [(ngModel)]="compania.email"><!-- {{compania.email}}-->
    <input class="telefono" placeholder="Telefono" [(ngModel)]="compania.telefono"><!-- {{compania.telefono}}-->
    <!-- <input class="ciudad" placeholder="Ciudad" [(ngModel)]="compania.ciudad">{{compania.ciudad}} -->
    <select class="ciudades" name="datos">
        <option class="ciudad" value={{ciudad}} *ngFor="let ciudad of ciudades">{{ciudad}}</option>
     </select>
    <button class="btn btn-primary" (click)="editar()">Ok!</button>
</section>