.conteiner{
    display: flex;
    padding: 3px 0;
    justify-content: space-evenly;
    margin-left: 10%;
}

p{
    width: 230px;
    text-align: center;
}

.editar{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
}

.email{
    position: relative;
    left: 1%;
    width: 155px;
}


.nombre{
    position: relative;
    left: 0%;
    width: 155px;
}

.telefono{
    position: relative;
    left: 1%;
    width: 155px;
}

.ciudad{
    position: relative;
    left: -1%;
    width: 155px;

}

.ciudades{
    position: relative;
    right: 0%;
}

button{
    margin: 0 2px 2px;
}