.conteiner{
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
    padding: 3px 0;
}

p{
    width: 230px;
    text-align: center;
}

.email{
    position: relative;
    left: 3%;
}


.nombre{
    position: relative;
    left: 5%;
}

.telefono{
    position: relative;
    left: 1%;
}

.ciudad{
    position: relative;
    left: -1%;
}

button{
    margin: 0 2px 2px;
}