<section class="container">
    <section class="header">
        <h1>Compañias</h1>
        <button class="btn btn-primary" (click)="cargar()" [(ngModel)]="btnAgregar" ngDefaultControl>{{btnAgregar}}</button>
    </section>
    <section class="containerAgregar" *ngIf="editable">
        <section class="agregar">
            <h3>Agregar Compañia</h3>
            <input type="text"  placeholder="Nombre" [(ngModel)]="nombre"> 
            <input type="text"  placeholder="Direccion" [(ngModel)]="direccion">
            <input type="text"  placeholder="Email" [(ngModel)]="email"> 
            <input type="text"  placeholder="Telefono" [(ngModel)]="telefono"> 
            <input type="text"  placeholder="Ciudad" [(ngModel)]="ciudad">
            <button (click)="agregar()" class="btn btn-primary btnAgregar">Agregar compañia</button>
        </section>
    </section>
    <section class="base">
        <ul>
            <li>
                <h4>Nombre</h4>
            </li>
            <li>
                <h4>Direccion</h4>
            </li>
            <li>
                <h4>Email</h4>
            </li>
            <li>
                <h4>Telefono</h4>
            </li>
            <li>
                <h4>Ciudad</h4>
            </li>
        </ul>
        <app-compania *ngFor="let compania of companias"
            [compania]="compania"
            (borrarCompania)=delete($event)
            (editarCompania)=update($event)>
        </app-compania>
    </section>
</section>