<div class="nav-item">
    <ul class="nav justify-content-start">
        <li class="nav-item">
            <h3 class="nav ">LOGO</h3>
        </li>
    </ul>
    <ul class="nav lista justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contactos" (click)="cargar()">Contactos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/companias" (click)="cargar()">Compañías</a>
        </li>
        <li class="usuarios nav-item">
            <a class="nav-link" routerLink="/usuarios" (click)="cargar()">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/region-ciudad" (click)="cargar()">Región/Ciudad</a>
        </li>
    </ul>
</div>
