* {
    background-color: #1D72C2;
    padding: 8px 0 8px 0;
}

a {
    color: cornsilk;
}

.lista {
    display: none;
    margin-top: -75px;
}

li{
    padding-right: 8%;
}

.usuarios {
    display: none;
}