* {
    background-color: #1D72C2;
    /* padding: 8px 0 8px 0; */
    padding: 13px 0 0 0;
}

a {
    color: cornsilk;
    text-decoration: none;
}

.logo{
    color: white;
    margin-left: 25px;
    margin-top: -25px;
    margin-bottom: 25px;
}

.lineaBlanca{
    margin-top: 22px;
    background: white;
    height: 3px;
    padding: 0;
}

.sinLineaBlanca{
    display: none;
}

.lista {
    display: none;
    margin-top: -75px;
}

li{
    padding-right: 3%;
}

.usuarios {
    display: none;
}