<section class="container">
    <div class="form-check checkbox">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
      </label>
    </div>
    <section class="nombreApellidoEmail  elemento">
      <div class="nombreApellido">
        <p>{{contacto.nombre}} {{contacto.apellido}}</p>
      </div>
      <div class="email">
        <p>{{contacto.email}}</p>
      </div>
    </section>
    <section class="regionPaisCiudad elemento">
      <p>{{pais}}</p>
      <p>{{region}}</p>
    </section>
    <section class="elemento">
      <p>{{contacto.compania}}</p>
    </section>
    <section class="elemento">
      <p>{{contacto.cargo}}</p>
    </section>
    <section class="elemento">
      <div class="interes">
        <p>{{contacto.interes | percent}}</p>
        <div class="interesFondo"></div>
        <div [ngClass]="{barraInteres0: interes === 0,
                          barraInteres25: interes === 0.25,
                          barraInteres50: interes === 0.50,
                          barraInteres75: interes === 0.75,
                          barraInteres100: interes === 1}"></div>
      </div>
    </section>
    <section class="elemento">
      <i class="fas fa-ellipsis-h puntos"></i>
    </section>
</section>
