.container{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 0;
    text-align: center;
}

.regionPaisCiudad{
}

.checkbox{
    align-self: center;
}

.nombreApellidoEmail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nombreApellido{
    width: 150px;
    align-self: flex-end;
}

.email{
    width: 150px;
    align-self: flex-end;
    font-size: 14px;
    color: #a5a5a5;
}

.elemento{
    width: 90px;
    align-self: center;
}

.puntos{
    opacity: 0.7;
    cursor: pointer;
    margin-left: 30px;
}


.interes{
    display: flex;
    position: relative;
    justify-content: space-around;
}

.interesFondo{
    background: #E8E8E8;
    position: absolute;
    border-radius: 6.5px;
    top: 5px;
    left: 70px;
    height: 15px;
    width: 100%;
}

.barraInteres0{
    background: transparent;
    position: absolute;
}

.barraInteres25{
    position: absolute;
    border-radius: 6.5px;
    background: #1CC1F5;
    top: 5px;
    left: 70px;
    height: 15px;
    width: 25%;
}

.barraInteres50{
    position: absolute;
    border-radius: 6.5px;
    background: #FFC700;
    top: 5px;
    left: 70px;
    height: 15px;
    width: 50%;
}

.barraInteres75{
    position: absolute;
    border-radius: 6.5px;
    background: #FF6F00;
    top: 5px;
    left: 70px;
    height: 15px;
    width: 75%;
}

.barraInteres100{
    position: absolute;
    border-radius: 6.5px;
    background: #DE0028;
    top: 5px;
    left: 70px;
    height: 15px;
    width: 100%;
}

.acciones{
    position: absolute;
    background: white;
    border: 1px black solid;
    margin-left: 1.2%;
    width: 85px;
    height: 68px;
    margin-top: -7px;
    background-color: #1d72c2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accion{
    cursor: pointer;
    margin: 0;
    color: #fff;
}

.accion:hover{
    background-color: #8ec7fc;
}

.editarContacto{
    /* margin-left: 500px; */
}