<section class="contenedor">
    <h2 class="nombreCiudad" [(ngModel)]="ciudad" name="fieldName" ngDefaultControl>{{ciudad.nombre}}</h2>
    <section class="btnEditDelete">
        <button (click)=preEditar() class="btn btn-primary">
            <p>Edit</p>
        </button>
        
        <button (click)=borrar() class="btn btn-primary">
            <p>Delete</p>
        </button>
    </section>
</section>

<div *ngIf="puedeEditar" class="modelEditar">
    <h4>Editar nombre de la ciudad:</h4>
    <input type="text" placeholder="Editar nombre" [(ngModel)]="ciudad.nombre" ngDefaultControl>
    <section class="botones">
        <button (click)=editar() class="btn btn-primary">OK!</button>    
        <button (click)="cancelar()" class="btn btn-primary">Cancelar</button>
    </section>
</div>