.contenedor{
    padding: 115px 0 0 80px;
    margin-bottom: -115px;
}

.nombreCiudad{
    width: 130px;
}

.btnEditDelete{
    position: relative;
    left: 18%;
    bottom: 65px;
    width: 145px;
}

button{
    margin-right: 10px;
}

.modelEditar{
    text-align: center;
    border: 1px solid black;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30px;
    left: 36%;
}

.botones{
    display: flex;
}