<section class="contenedor">
    <h1 [(ngModel)]="region" name="fieldName" ngDefaultControl>{{ region.nombre }}</h1>
    <button (click)=preAgregarPais() class="btn btn-primary btnCountry">
        <p [(ngModel)]="boton" ngDefaultControl>{{boton}}</p>
    </button>

    <div *ngIf="puedeAgregar" class="agregarPais">
        <p>Nombre del pais:</p>
        <input type="text" placeholder="Nombre del pais" [(ngModel)]=nombrePais name="fieldName" ngDefaultControl>
        <button class="btn btn-primary" (click)=agregarPais()>Agregar</button>
    </div>

    <app-pais *ngFor="let pais of paises"
        [pais]="pais"
        (borrarPais)="deletePais($event)"
        (actualizarPais)="updatePais($event)"
        [region]="region">
    </app-pais>
</section>