.contenedor{
    padding: 10px 0 0 50px;
}

.btnCountry{
    position: absolute;
    left: 82%;
    margin-top: -60px
}

.agregarPais{
    text-align: center;
    border: 1px solid black;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 36%;
}