span{
    color: red;
}

select{
    width: 95px;
    height: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.equis{
    color: white;
    margin-right: 3%;
    font-size: 20px;
}

.btnEquis{
    margin-right: 1%;
}

.parte1{
    display: flex;
    justify-content: center;
    background-color: #1d72c2;
    margin-left: 18%;
    width: 65%;
    height: 90px;
    flex-wrap: wrap;
}

.parte2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 18%;
    padding-top: 80px;
    padding-left: 0px;
    background-color: white;
    width: 65%;
}

.parte3{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 65%;
    margin-left: 18%;
    padding-top: 33px;
    height: 133px;
    padding-left: 18px;
}

.nvoContacto{
    color: white;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 3%;
}

.datosPrincipales{
    display: flex;
    border: 3px solid #0683f9;
    border-radius: 5px;
    background: white;
    padding: 10px 15px 10px 15px;
}

.plus{
    opacity: 0.5;
    font-size: 20px;
    padding: 0 15px 0 30px;
}

.botones{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -18%;
    background: white;
    width: 65%;
    padding: 60px 40px 40px 0;
    margin-bottom: 500px;
}

.region{
    width: 100px;
}

.pais{
    width: 100px;
}

.ciudad{
    width: 100px;
}

.direccion{
    width: 200px;
}

.interes{
    width: 200px;
}

.canal{
    width: 200px;
}

.cuenta{
    width: 200px;
    padding-left: 10px;
}

.preferencias{
    padding-left: 20px;
}

.selectInteres{
    width: 200px;
}

.btnAgregar{
    display: flex;
    position: relative;
    top: 40px;
    align-items: center;
    height: 30px;
}

.pAgregarCanal{
    padding: 0 30px 0px 0px;
    position: relative;
    top: 6px;
    width: 132px;
}

.sectionAgregarCanal{
    padding-left: 10px;
}

.selectCanal{
    padding: 0;
    width: 200px;
}

.selectCuenta{
    padding: 0;
    width: 200px;
}

.habilitar:enabled{
    color: white;
}

.canales{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 65%;
    margin-left: 18%;
    padding-top: 33px;
    padding-left: 18px;
    border: 1px solid #E8E8E8;
}