<form class="parte1">
    <section class="header">
        <p class="nvoContacto">Nuevo contacto</p>
        <button class="btn btnEquis" (click)="cerrar()"><i class="fas fa-times equis"></i></button>
    </section>
    <section class="datosPrincipales">
        <section>
            <p>Nombre<span>*</span></p>
            <input type="text" [(ngModel)]="nombre" name="nombre" required>
        </section>
        <section>
            <p>Apellido<span>*</span></p>
            <input type="text" [(ngModel)]="apellido" name="apellido" required>
        </section>
        <section>
            <p>Cargo<span>*</span></p>
            <input type="text" [(ngModel)]="cargo" name="cargo" required>
        </section>
        <section>
            <p>Email<span>*</span></p>
            <input type="email" [(ngModel)]="email" name="email" required>
        </section>
        <section>
            <p>Companía<span>*</span></p>
            <select name="datos" class="selectCompania">
                <!-- *ngFor="let contacto of contactos" {{contacto.compania}} -->
                <option value={{compania}} *ngFor="let compania of companias">{{compania}}</option>
            </select>
        </section>
    </section>
</form>
<form class="parte2">
    <section class="region">
        <p>Región</p>
        <select class="selectRegion" name="datos" (click)="getRegionSeleccionada()">
            <option value={{region}} *ngFor="let region of regiones">{{region}}</option>
         </select>
    </section>
    <section class="pais">
        <p>País</p>
        <select class="selectPais" name="datos" (click)="getPaisSeleccionado()">
            <option value={{pais}} *ngFor="let pais of paises">{{pais}}</option>
         </select>
    </section>
    <section class="ciudad">
        <p>Ciudad</p>
        <select class="selectCiudad" name="datos" (click)="getCiudadSeleccionada()">
            <option value={{ciudad}} *ngFor="let ciudad of ciudades">{{ciudad}}</option>
         </select>
    </section>
    <section class="direccion">
        <p>Dirección</p>
        <input name="datos" placeholder="Ingresa una dirección" [(ngModel)]="direccion">
    </section>
    <section class="interes">
        <p>Interés</p>
        <section>
            <!-- la barra de carga de interes -->
            <select name="datos" class="selectInteres" [(ngModel)]="interes">
                <option value=0 >{{0 |percent}}</option>
                <option value=0.25>{{0.25 | percent}}</option>
                <option value=0.5>{{0.50 | percent}}</option>
                <option value=0.75>{{0.75 | percent}}</option>
                <option value=1>{{1 | percent}}</option>
            </select>
        </section>
    </section>
</form>
<form class="parte3">
    <section class="canal">
        <p>Canal de contacto</p>
        <select name="datos" class="selectCanal" [(ngModel)]="nombreCanal">
            <option value="Teléfono">Teléfono</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="Instagram">Instagram</option>
            <option value="Facebook">Facebook</option>
            <option value="LinkedIn">LinkedIn</option>
         </select>
    </section>
    <section class="cuenta">
        <p>Cuenta de usuario</p>
        <input name="datos" class="selectCuenta" placeholder="@Ejemplo" [ngClass]="{habilitar: paso1 == true}" [(ngModel)]="cuentaUsuario">
    </section>
    <section class="preferencias">
        <p>Preferencias</p>
        <select name="datos" class="selectCuenta" [ngClass]="{habilitar: paso2 == true}" [(ngModel)]="preferencia">
            <option value="Sin preferencia">Sin preferencia</option>
            <option value="Canal favorito">Canal favorito</option>
            <option value="No molestar">No molestar</option>
         </select>
    </section>
    <section class="sectionAgregarCanal">
        <button class="btnAgregar" [ngClass]="{habilitar: paso3 == true}" >
            <i class="fas fa-plus plus"></i>
            <p class="pAgregarCanal" (click)="agregarCanal()">Agregar Canal</p>
        </button>
    </section>
</form>
<section class="canales" *ngFor="let singleCanal of canal">
<p>{{singleCanal.canal}}</p>
<p>{{singleCanal.cuentaUsuario}}</p>
<p>{{singleCanal.preferencia}}</p>
</section>
<section class="botones">
    <button class="btn btn-outline-secondary btn-lg" (click)="cerrar()">Cancelar</button>
    <button class="btn btn-secondary btn-lg" (click)="crear()" >Guardar contacto</button>
</section>