<section class="usuarioContenedor">
    <section class="usuario">
        <p>{{user.usuario}}</p>
        <p>{{user.nombre}}</p>
        <p>{{user.apellido}}</p>
        <p class="email">{{user.email}}</p>
        <p>{{user.perfil}}</p>
        <p>{{user.admin}}</p>
        <p>{{user.contrasenia}}</p>

    </section>
    <section class="botones">
        <button (click)="preEditar()" class="boton btn btn-primary" [(ngModel)]="edit" ngDefaultControl>{{edit}}</button>
        <button (click)="borrar()" class="boton btn btn-primary">Borrar</button>
    </section>
</section>


<section *ngIf="editable" class="userInput">
    <p class="pUserInput">Nombre: <input [(ngModel)]="user.nombre" placeholder="nombre"></p>
    <p class="pUserInput">Apellido: <input [(ngModel)]="user.apellido" placeholder="apellido"></p>
    <p class="pUserInput">Email: <input [(ngModel)]="user.email" placeholder="email"></p>
    <p class="pUserInput">Perfil: <input [(ngModel)]="user.perfil" placeholder="perfil"></p>
    <p class="pUserInput">Admin: <input [(ngModel)]="user.admin" placeholder="admin"></p>
    <p class="pUserInput">Contraseña:<input [(ngModel)]="user.contrasenia" placeholder="contraseña"></p>
    <button (click)="editar()" class="btn btn-primary"> OK!</button>
</section>