<section class="titulo">
    <h1>Contactos</h1>
</section>
<section class="nav subTitulo">
    <section class="input">
        <button class="inpt" type="text" placeholder="Buscar contacto" (click)="desplegarInput()">Buscar contacto</button>
        <i class="fas fa-sort-down flechaBaja" (click)="desplegarInput()"></i>
        <i class="fas fa-search lupa" (click)="cargarInput()"></i>
        <section *ngIf="desplegable" class="desplegable">
            <section class="pInput">
                <p>Nombre del contacto</p><input class="inptDesplegable" type="text" placeholder="Introduce el nombre del contacto" [(ngModel)]="nombreContacto">
            </section>
            <section class="pInput">
                <p>Cargo</p><input class="inptDesplegable cargo" type="text" placeholder="Introduce el cargo del contacto" [(ngModel)]="cargo">
            </section>
            <section class="despRegion">
                <p>País/Región</p>
                <select name="datos" class="region" (click)="cargarRegiones()">
                    <option value="todos">Todos</option>
                    <option value="dato" *ngFor="let dato of regionesPaises">{{dato}}</option>
                 </select>
            </section>
            <section class="despRegion">
                <p>Compañía</p>
                <select name="datos" class="compania" (click)="cargarCompanias()">
                    <option value="todos">Todas</option>
                    <option value="dato" *ngFor="let dato of companias">{{dato}}</option>
                </select>
            </section>
            <section class="despRegion">
                <p>Canal favorito</p>
                <select name="datos" class="canal" (click)="cargarCanalFav()">
                    <option value="todos">Cualquiera</option>
                    <option value="dato" *ngFor="let dato of canales">{{dato}}</option>
                 </select>
            </section>
            <section class="despRegion">
                <p>Interés</p>
                <select name="datos" class="interes" (click)="cargarInteres()">
                    <option value="todos">Cualquiera</option>
                    <option value="dato" *ngFor="let dato of intereses">{{dato | percent}}</option>
                 </select>
            </section>
        </section>
    </section>
    <button class="btn btn-primary" (click)="agregar()">Agregar contacto</button>
    <section class="eliminarSeleccionados" *ngIf="eliminarSeleccionados">
        <p class="seleccion" >{{seleccionados}} seleccionados</p>
        <section class="basura" (click)="modalEliminarContactos()">
            <i class="fas fa-trash icono"></i>
            <p>Eliminar contactos</p>
        </section>
    </section>
</section>

<section *ngIf="modalEliminarContacto" class="modalEliminar">
    <h1>¿Seguro desea eliminar los contactos seleccionados?</h1>
    <section class="botonesModalEliminar">
      <button (click)="eliminarContactos()" class="btn btn-primary">Eliminar</button>
      <button (click)="cancelarEliminar()" class="btn btn-primary">Cancelar</button>
    </section>
  </section>
<!-- [hidden]="!crear" -->
<!-- [contactosFull]="contactoFull" -->
<app-crear-contacto *ngIf="crear"
                    (cerrarVentana)="cerrarVentana($event)"
                    (crearContacto)="crearContacto($event)"
                    [contactos]="contactos"
                    ></app-crear-contacto>

<section class="contactos">
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input globalCheck" name="" id="" value="checkedValue" (click)="seleccionarTodos()">
        </label>
    </div>
    <section class="interno">
        <p>Contacto</p>
        <i [ngClass]="{ocultar: desplegable == !ocultar}" class="fas fa-exchange-alt sort" (click)="ordenar('contactos')"></i>
    </section>
    <section class="interno">
        <p>País/Región</p>
        <i [ngClass]="{ocultar: desplegable == !ocultar}" class="fas fa-exchange-alt sort" (click)="ordenar('regionpais')"></i>
    </section>
    <section class="interno">
        <p>Compañía</p>
        <i class="fas fa-exchange-alt sort" (click)="ordenar('compania')"></i>
    </section>
    <section class="interno">
        <p>Cargo</p>
        <i class="fas fa-exchange-alt sort" (click)="ordenar('cargo')"></i>
    </section>
    <section class="interno">
        <p>Interés</p>
        <i class="fas fa-exchange-alt sort" (click)="ordenar('interes')"></i>
    </section>
    <section>
        <p>Acciones</p>
    </section>
</section>

<!-- <section> -->
    <app-contacto *ngFor="let contacto of filtroContactos"
        [contacto]="contacto"
        (eliminarSeleccionados)="cargarEliminarContactos($event)"
        (eliminarContacto)="eliminarContacto($event)"
        [contactos]="contactos"></app-contacto>
<!-- </section> -->
