.titulo{
    padding-top: 35px;
    margin-left:1.5%;
}

.subTitulo{
    justify-content: space-between;
    padding: 15px 1.5% 0 1.5%;
}

.input{
    width: 80%;
    display: flex;
    position: relative;
}

.inpt{
    width: 50%;
    height: 52px;
    font-size: large;
    padding-left: 20px;
    border-radius: 5px;
}

.flechaBaja{
    position: absolute;
    left: 47%;
    top: 10px;
    font-size: 23px;
    opacity: 0.8;
    cursor: pointer;
}

.lupa{
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    border: black 1px solid;
    align-self: center;
    opacity: 0.8;
    cursor: pointer;
}

.desplegable{
    position: absolute;
    top: 60px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: #E8E8E8 1px solid;
    border-radius: 5px;
    padding: 26px 0px 2px 22px;
    background: white;
}

.pInput{
    display: flex;
    justify-content: space-between;
}

.inptDesplegable{
    width: 62%;
    border: none;
    border-bottom: black 1px solid;
    opacity: 0.5;
    position: relative;
    right: 2%;
    bottom: 19px;
}

.cargo{
    margin-left: 24%;
}

select{
    position: absolute;
    left: 50%;
    margin-top: -48px;
    width: 40%;
}

.sort{
    transform: rotate(90deg);
    margin-left: 15px;
    cursor: pointer;
}

.contactos{
    /* display: flex;
    justify-content: space-around;
    width: 95%;
    margin-left: 2%;
    padding-top: 30px;
    border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    width: 84.5%;
    margin-left: 7.8%;
    padding-top: 30px;
    margin-top: 70px;
    border: 1px solid black;
}

.interno{
    display: flex;
    align-items: baseline;
    width: 90px;
}