<form class="formulario">
    <h1>Crear Usuario</h1>
    <section class="inputs">
        <p>Usuario</p> <input type="text" placeholder="Usuario" [(ngModel)]="usuario" name="usuario">
        <p>Nombre</p><input type="text" placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
        <p>Apellido</p><input type="text" placeholder="Apellido" [(ngModel)]="apellido" name="apellido">
        <p>Email</p><input type="text" placeholder="Email" [(ngModel)]="email" name="email">
        <p>Perfil</p><input type="email" placeholder="Perfil" [(ngModel)]="perfil" name="perfil">
        <p>Admin</p><input type="text" placeholder="Admin" [(ngModel)]="admin" name="admin">
        <p>Contraseña</p><input type="password" placeholder="Contraseña" [(ngModel)]="contrasenia" name="contrasenia">
        <p>Repetir contraseña</p><input type="password" placeholder="Repetir contraseña" [(ngModel)]="repContrasenia" name="repcontrasenia">
    </section>
    <section class="boton">
        <button (click)="mostrar()" class="btn btn-primary">Crear</button>
    </section>
</form>