<section class="contenedor">
    <section class="containerPrincipal">
        <h2 class="nombrePais" [(ngModel)]="pais" name="fieldName" ngDefaultControl>{{ pais.nombre }}</h2>
        <section class="btnDelEdit">
            <button (click)="preEditPais()" class="btn btn-primary">
                <p>Edit</p>
            </button>
            <button (click)="deletePais()" class="btn btn-primary">
                <p>Delete</p>
            </button>
        </section>
        

        <section *ngIf="editable" class="modelEditar">
            <h4>Editar nombre del pais:</h4>
            <input type="text" [(ngModel)]="pais.nombre" name="fieldName" ngDefaultControl *ngIf="editable">
            <section class="botones">
                <button (click)="EditPais()" *ngIf="editable" class="btn btn-primary">OK!</button>
                <button (click)="cancelar()" class="btn btn-primary">Cancelar</button>
            </section>
        </section>
        <section class="btnAdd">
            <button (click)=preAgregarCiudad() class="btn btn-primary">
                <p [(ngModel)]="boton" ngDefaultControl>{{boton}}</p>
            </button>
        </section>
    </section>

    <div *ngIf="puedoAgregar" class="agregarCiudad">
        <p>Nombre de la ciudad:</p>
        <input type="text" placeholder="Nombre de la ciudad" [(ngModel)]="ciudad" name="fieldName" ngDefaultControl>
        <button (click)=agregarCiudad() class="btn btn-primary">Agregar</button>
    </div>

    <app-ciudad *ngFor="let ciudad of ciudades"
        [ciudad]="ciudad"
        (borrarCiudad)=delete($event)
        (actualizarCiudad)=update($event)>
    </app-ciudad>
</section>